@using Microsoft.Extensions.Options
@inject IOptions<AtomStore.Stripe.StripeSettings> Stripe
@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/client-app/controllers/checkout/index.js" asp-append-version="true"></script>
    <script>
        var checkoutObj = new CheckoutController();
        checkoutObj.initialize();
    </script>

}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Checkout</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="page-title">
                    <h2>Checkout</h2>
                </div>
                <div class="page-content checkout-page">
                    @if (ViewData["Success"] != null)
                    {
                        if ((bool)ViewData["Success"] == true)
                        {
                            @*<div class="alert alert-success">
                    Thank you for your order. We are going to confirm your order soon.
                </div>*@
                            <div class="successImg"><img src="~/client-side/images/shipped.png" alt="" style="text-align:center"></div>
                            <div class="resetPassword">THANKS FOR YOUR ORDER <img src="~/client-side/images/thankful.png" /></div>
                            <div class="subResetPassword">We will send you a email include E-invoice when order confirmed successfully.</div>
                            <div class="page-content">
                                <div class="account-login">
                                    <div class="col-md-3 col-sm-2"></div>
                                    <div class="col-md-6 col-sm-8">
                                        <div class="single-input p-bottom50 clearfix">
                                            @*<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">*@
                                            <form>
                                                <div class="row">
                                                    <div class="col-xs-12" style="padding-top: 3%;">
                                                        <div class="submit-text">
                                                            <button onclick="location.href='/'" style="color:white; background-color:#222222; margin-top:3%;padding:2%; width:100%" type="button" class="btn btn-default">CONTINUE SHOPPING</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="alert alert-danger">
                                Have an error in order progress. Please contact to administrator.
                            </div>

                        }

                    }
                    else
                    {
                        <form id="frmCheckout" action="/checkout.html" method="post">
                            @Html.AntiForgeryToken()
                            <h4 class="checkout-sep">1. Checkout Method</h4>
                            <div class="box-border">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>Checkout as a Guest or Register</h5>
                                        <p>Register with us for future convenience:</p>
                                        <br>
                                        <h4>Register and save time!</h4>
                                        <p>Register with us for future convenience:</p>
                                        <p><i class="fa fa-check-circle text-primary"></i> Fast and easy check out</p>
                                        <p><i class="fa fa-check-circle text-primary"></i> Easy access to your order history and status</p>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div hidden>
                                                <button class="button" onclick="window.location.href='/register.html'"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Continue</span></button>
                                            </div>
                                        }
                                        else
                                        {
                                            <button class="button" onclick="window.location.href='/register.html'"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Continue</span></button>
                                        }
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="col-sm-6" hidden>
                                            <h5>Login</h5>
                                            <p>Already registered? Please log in below:</p>
                                            <button class="button" onclick="window.location.href='/login.html'"><i class="icon-login"></i>&nbsp; <span>Login</span></button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-6">
                                            <h5>Login</h5>
                                            <p>Already registered? Please log in below:</p>
                                            <button class="button" onclick="window.location.href='/login.html'"><i class="icon-login"></i>&nbsp; <span>Login</span></button>
                                        </div>
                                    }

                                </div>
                            </div>

                            <h4 class="checkout-sep">2. Billing Infomations</h4>
                            <div class="box-border">
                                <ul>
                                    <li class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <label for="first_name" class="required">Full Name</label>
                                            @if (Model.AppUserViewModel != null)
                                            {
                                                <input class="input form-control CustomerName" type="text" asp-for="CustomerName" value=@Model.AppUserViewModel.FullName>
                                            }
                                            else
                                            {
                                                <input class="input form-control CustomerName" type="text" asp-for="CustomerName">
                                            }
                                        </div>
                                        <!--/ [col] -->
                                        <div class="col-sm-4 col-xs-12">
                                            <label for="last_name" class="required">Phone</label>
                                            @if (Model.AppUserViewModel != null)
                                            {
                                                <input class="input form-control CustomerPhone" type="text" asp-for="CustomerPhone" value=@Model.AppUserViewModel.PhoneNumber>
                                            }
                                            else
                                            {
                                                <input class="input form-control CustomerPhone" type="text" asp-for="CustomerPhone">
                                            }
                                        </div>
                                        <!--/ [col] -->
                                    </li>

                                    <li class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <label for="email" class="required">Email</label>
                                            @if (Model.AppUserViewModel != null)
                                            {
                                                <input class="input form-control CustomerEmail" type="text" asp-for="CustomerEmail" value=@Model.AppUserViewModel.Email>
                                            }
                                            else
                                            {
                                                <input class="input form-control CustomerEmail" type="text" asp-for="CustomerEmail">
                                            }
                                        </div>
                                        <!--/ [col] -->
                                        <!--/ .row -->
                                        <div class="col-sm-4 col-xs-12">
                                            <label for="address" class="required">Address</label>
                                            @if (Model.AppUserViewModel != null)
                                            {
                                                <input class="input form-control CustomerAddress" type="text" asp-for="CustomerAddress" value=@Model.AppUserViewModel.Address>
                                            }
                                            else
                                            {
                                                <input class="input form-control CustomerAddress" type="text" asp-for="CustomerAddress">
                                            }
                                        </div>
                                        <!--/ [col] -->

                                    </li>
                                    <li class="row">
                                        <div class="col-sm-8 col-sm-12">
                                            <label class="required">Message</label>
                                            <input class="input form-control CustomerMessage" type="text" asp-for="CustomerMessage">
                                        </div>
                                        <!--/ [col] -->

                                </ul>
                            </div>

                            <h4 class="checkout-sep">3. Payment Information</h4>
                            <div class="box-border">
                                <ul id="paymentMethodul">
                                    @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                                    {

                                        <li>
                                            @if (@Model.PaymentMethods[i].Value == 0 || @Model.PaymentMethods[i].Value == 3)
                                            {
                                                <label asp-for="@Model.PaymentMethods[i].Value">
                                                    <input type="radio" name="paymentMethod" asp-for="PaymentMethod" value="@Model.PaymentMethods[i].Value">
                                                    <img class="payment@(Model.PaymentMethods[i].Value)" />
                                                </label>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                            <h4 class="checkout-sep">4. Order Review</h4>
                            <div class="box-border">
                                <div class="table-responsive">
                                    <table class="table table-bordered cart_summary" style="border: 1px solid #ddd;">
                                        <thead style="background-color:black; color:white;">
                                            <tr>
                                                <th class="cart_product" style="text-align: center">Product</th>
                                                <th style="text-align: center">Description</th>
                                                @*<th>Avail.</th>*@
                                                <th style="text-align: center">Unit price</th>
                                                <th style="text-align: center">Quantity</th>
                                                <th style="text-align: center">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Carts)
                                            {
                                                <tr>
                                                    <td class="cart_product" style="text-align: center"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html"><img src="@item.Product.Image" alt="@item.Product.Name"></a></td>
                                                    <td class="cart_description" style="text-align: center">
                                                        <p class="product-name"><a href="/@item.Product.SeoAlias-p.@(item.Product.Id).html">@item.Product.Name </a></p>
                                                        <small><a href="#">Color : @item.Color.Name</a></small><br>
                                                        <small><a href="#">Size : @item.Size.Name</a></small>
                                                    </td>
                                                    <td class="price" style="text-align: center"><span>$@item.Price.ToString("F1") </span></td>
                                                    <td class="qty" style="text-align: center">@item.Quantity</td>
                                                    <td class="price" style="text-align: center"><span>$@((item.Price * item.Quantity).ToString("F1")) </span></td>
                                                </tr>

                                            }
                                        </tbody>
                                        <tfoot style="background-color:white;">
                                            <tr>
                                                <td colspan="3"><strong style="float: right;">Total</strong></td>
                                                <td colspan="2"><strong style="float: right; margin-right:30px;">$@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("F1") </strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                @*<button type="button" class="button" onclick="window.location.href='/cart.html'"><span>Back to cart</span></button>*@

                                @*<input type="image" src="https://www.paypal.com/en US/i/btn/btn xpressCheckout.gif"/>*@
                                @*<a href="https://www.paypal.com/en US">PayPal</a>*@

                            </div>
                        </form>
                        <button class="button pull-right" id="btnPlaceOrder"><span>Place Order</span></button>

                        <div>
                            <form id="frmCheckoutPaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

                                @*PayPal Setting*@
                                <input type="hidden" name="upload" value="1" />
                                <input type="hidden" name="return" value="https://atomstorevn.site/checkoutPaypal.html" />
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="business" value="sb-kj7121822812@business.example.com" />
                                @{
                                    var index = 1;
                                }
                                @foreach (var product in Model.Carts)
                                {
                                    <input type="hidden" name="item_name_@index" value="@product.Product.Id" />
                                    <input type="hidden" name="item_name_@index" value="@product.Product.Name" />
                                    <input type="hidden" name="amount_@index" value="@product.Price" />
                                    <input type="hidden" name="quantity_@index" value="@product.Quantity" />
                                    index++;
                                }
                                @*<button type="submit" id="btnCheckoutPaypal"><img src="~/client-side/images/paypal1.jpg" /></button>*@

                            </form>
                            <button id="btnPaypal" hidden><img src="~/client-side/images/paypal1.jpg" /></button>
                        </div>


                        @*<div>
                <form asp-action="CheckoutWithStripe" asp-controller="Cart" method="post">
                    <script src="//checkout.stripe.com/v2/checkout.js"
                            class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-description="Sample Charge">
                    </script>
                    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
                </form>
            </div>*@
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
<!-- service section -->
<div class="jtv-service-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper ship">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-paper-plane"></i></div>
                        <div class="service-wrapper">
                            <h3>World-Wide Shipping</h3>
                            <p>On order over $99</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12 ">
                <div class="block-wrapper return">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-rotate-right"></i></div>
                        <div class="service-wrapper">
                            <h3>30 Days Return</h3>
                            <p>Moneyback guarantee </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper support">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-umbrella"></i></div>
                        <div class="service-wrapper">
                            <h3>Support 24/7</h3>
                            <p>Call us: (+84) 0793699821</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper user">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-tags"></i></div>
                        <div class="service-wrapper">
                            <h3>Member Discount</h3>
                            <p>25% on order over $199</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .payment0 {
        width: 99px;
        height: 39px;
        background: url('client-side/images/paymant6.png');
        margin-left: 10px;
        border: solid 0px;
    }

    .payment3 {
        width: 99px;
        height: 39px;
        background: url('client-side/images/payment1.png');
        margin-left: 10px;
        border: solid 0px;
    }
</style>

