
@model List<ProductCategoryViewModel>

<aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
   
    <div class="block category-sidebar">
        <div class="sidebar-bar-title">
            <h3>Shop By</h3>
        </div>
        <div class="block-content">
            <p class="block-subtitle">Shopping Options</p>
            <div class="layered-Category">
                <h2 class="saider-bar-title">Categories</h2>
                <div class="layered-content">
                    <ul class="check-box-list">
                        @foreach (var item in Model.Where(x => x.ParentId == null))
                        {
                            <li>
                                <input type="checkbox" id="jtv@(item.Id)" name="jtvc">
                                <label for="jtv@(item.Id) " style="font-size:larger"> <span class="button " onclick="window.location.href='/@item.SeoAlias-c.@(item.Id).html'"></span> @item.Name</label>
                                <ul >
                                    @foreach (var subitem in Model.Where(x => x.ParentId == item.Id))
                                    {
                                        @if (Model.Any(x => x.ParentId == item.Id))
                                        {
                                            <li>
                                                <input type="checkbox" id="jtv@(subitem.Id)" name="jtvc">
                                                <label for="jtv@(subitem.Id)"  style="margin-left:20px"> <span class="button" onclick="window.location.href='/@subitem.SeoAlias-c.@(subitem.Id).html'"></span> @subitem.Name</label>

                                                @if (Model.Any(x => x.ParentId == item.Id))
                                                {
                                                    <ul>
                                                        @foreach (var subOfSubItem in Model.Where(x => x.ParentId == subitem.Id))
                                                        {
                                                            <li>
                                                                <input type="checkbox" id="jtv@(subOfSubItem.Id)" name="jtvc">
                                                                <label for="jtv@(subOfSubItem.Id)" style="margin-left:40px"> <span class="button" onclick="window.location.href='/@subOfSubItem.SeoAlias-c.@(subOfSubItem.Id).html'"></span> @subOfSubItem.Name</label>

                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>

                                        }
                                    }
                                </ul>

                            </li>
                        }
                    </ul>
                </div>
            </div>
            @*<div class="manufacturer-area">
                    <h2 class="saider-bar-title">Manufacturer</h2>
                    <div class="saide-bar-menu">
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Aliquam</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Duis tempus id </a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Leo quis molestie. </a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Suspendisse </a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Nunc gravida </a></li>
                        </ul>
                    </div>
                </div>*@
            @*<div class="color-area">
                    <h2 class="saider-bar-title">Color</h2>
                    <div class="color">
                        <ul>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>*@
            @*<div class="size-area">
                    <h2 class="saider-bar-title">Size</h2>
                    <div class="size">
                        <ul>
                            <li><a href="#">S</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">XL</a></li>
                            <li><a href="#">XXL</a></li>
                        </ul>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="block product-price-range ">
        <div class="sidebar-bar-title">
            <h3>Price</h3>
        </div>
        <div class="block-content">
            <div class="slider-range">
                <div data-label-reasult="Range:" data-min="0" data-max="500" data-unit="$" class="slider-range-price" data-value-min="50" data-value-max="350"></div>
                <div class="amount-range-price">Range: $10 - $550</div>
                <ul class="check-box-list">
                    <li>
                        <input type="checkbox" id="p0" name="cc" />
                        <label for="p0"> <span class="button" onclick="window.location.href='@Context.Request.Path.ToString()'"></span> All<span class="count">(0)</span> </label>
                    </li>
                    <li>
                        <input type="checkbox" id="p1" name="cc" />
                        <label for="p1"> <span class="button" onclick="window.location.href='@Context.Request.Path.ToString()?minPrice=0&maxPrice=50'"> </span> 0 - $50<span class="count">(0)</span> </label>
                    </li>
                    <li>
                        <input type="checkbox" id="p2" name="cc" />
                        <label for="p2"> <span class="button" onclick="window.location.href='@Context.Request.Path.ToString()?minPrice=50&maxPrice=100'"></span> $50 - $100<span class="count">(0)</span> </label>
                    </li>
                    <li>
                        <input type="checkbox" id="p3" name="cc" />
                        <label for="p3"> <span class="button" onclick="window.location.href='@Context.Request.Path.ToString()?minPrice=100&maxPrice=250'"></span> $100 - $250<span class="count">(0)</span> </label>
                    </li>
                    <li>
                        <input type="checkbox" id="p3" name="cc" />
                        <label for="p3"> <span class="button" onclick="window.location.href='@Context.Request.Path.ToString()?minPrice=100&maxPrice=100000'"></span> Over $250<span class="count">(0)</span> </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button>Filter</button>
</aside>
