@using System.Linq
@using Microsoft.AspNetCore.Identity
@model AtomStore.Models.AccountViewModels.LoginViewModel
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>My Account</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <div class="box-authentication">
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <h4>Login</h4>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <p class="before-login-text">Welcome back! Sign in to your account</p>
                        <div>
                            <label asp-for="Email"></label>
                            <input type="text" asp-for="UserName" class="form-control">
                            @*<span asp-validation-for="UserName" class="text-danger"></span>*@
                        </div>
                        <div style="padding-top:2%;">
                            <label asp-for="Password"></label>
                            <input id="password_login" asp-for="Password" type="password" class="form-control">
                            @*<span asp-validation-for="Password" class="text-danger"></span>*@
                        </div>
                        <p class="forgot-pass"><a asp-action="ForgotPassword">Lost your password?</a></p>
                        <button type="submit" class="button">
                            <i class="icon-lock icons"></i>&nbsp; <span>Login</span>
                        </button>
                        <label class="inline" asp-for="RememberMe">
                            <input asp-for="RememberMe" />Remember me
                        </label>


                    </form>
                    <section>
                        @*<h4>Use another service to log in.</h4>*@

                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            if (loginProviders.Count == 0)
                            {
                                <div>
                                    <p>
                                        @*There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.*@
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="btn btn-default social1" style="width:25%;text-align:center;margin-top: 2%; background-color: #444444; color: white;" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                    <hr />
                </div>
                
                <div class="box-authentication">
                    <h4>Register</h4>
                    <p>Create your very own account</p>

                    <button onclick="window.location.href='/register.html'" class="button"><i class="icon-user icons"></i>&nbsp; <span>Register</span></button>
                    <div class="register-benefits">
                        <h5>Sign up today and you will be able to :</h5>
                        <ul>
                            <li>Speed your way through checkout</li>
                            <li>Track your orders easily</li>
                            <li>Keep a record of all your purchases</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->
<!-- service section -->
<div class="jtv-service-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper ship">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-paper-plane"></i></div>
                        <div class="service-wrapper">
                            <h3>World-Wide Shipping</h3>
                            <p>On order over $99</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12 ">
                <div class="block-wrapper return">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-rotate-right"></i></div>
                        <div class="service-wrapper">
                            <h3>30 Days Return</h3>
                            <p>Moneyback guarantee </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper support">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-umbrella"></i></div>
                        <div class="service-wrapper">
                            <h3>Support 24/7</h3>
                            <p>Call us: (+84) 0793699821</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper user">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-tags"></i></div>
                        <div class="service-wrapper">
                            <h3>Member Discount</h3>
                            <p>25% on order over $199</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

